* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.133)),
    url(BackgroundPic.png);

  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 20px 80px;
}

.nav-logo img {
  height: 140px;
  width: 160px;
}

.nav-links {
  flex: 1;
  align-self: center;
}

.nav-links ul {
  margin-left: 50px;
  display: inline;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(253, 254, 233);
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgba(255, 117, 246, 0.426);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: rgb(253, 254, 233);
  font-weight: bold;
  cursor: pointer;
}

.nav-links .btn {
  float: right;
}

.banner-title {
  margin: 10px 130px;
  color: #fff;
}

.banner-title h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(255, 255, 214);
}

.banner-title h1 span {
  color: rgb(202, 255, 196);
  background: rgba(253, 254, 233, 0.18);
}

.vertical-bar {
  height: 100%;
  background: rgb(81, 91, 81);
  top: 0;
  left: 0;
  position: absolute;
}

.search-icon {
  height: 150px;
  width: 80px;
}

.search-icon i {
  margin: 45px 23px;
  display: block;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  color: rgb(203, 203, 203);
}

.social-icons {
  height: 35%;
  width: 80px;
  background: rgb(253, 254, 233);
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
  color: #888;
}

.social-icons i {
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid rgb(81, 91, 81);
  border-radius: 50%;
  cursor: pointer;
}

.jumbotron {
  display: flex;
  height: 300px;
  background: rgba(253, 254, 233, 0.31);
  z-index: 2;
  padding: 10px 20px;
  width: 835px;
  /* margin-top: 10px; */
}

.form-holder {
  height: 270px;
  /* background: orange; */
  width: 35%;
  margin: 14px 10px;
}

.budget-container {
  height: 90px;
  background: rgb(150, 150, 148);
  margin: 10px 10px;
  padding: 10px 10px;
  padding-top: 20px;
  border-radius: 10px;

}

#earnings {
  width: 60%;

  margin: 5px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}


.form-container {
  height: 90px;
  background: rgb(150, 150, 148);
  margin: 10px 10px;
  padding: 10px 10px;
  padding-top: 20px;
  border-radius: 10px;
  display: inline-grid;
}

select.dropDownContent {
  height: 37px;
  margin-bottom: 3px;
}

input.Name {
  line-height: 30px;
  text-align: center;
  /* height: 10px;
  font-size: 14px; */
}

input.Items.Price {
  -webkit-text-stroke-width: thick;
  width: 107px;
  height: 20px;

}

input#expenses-button {
  padding: 5px 20px;
  border: 0;
  background: rgb(253, 254, 233);
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  ;

}

.turnoff {
  display: none;
}

#graphics {
  height: 25px;
  background: #0db666;
  margin: 10px 20px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.animator {
  animation: deficit 1s forwards;
}

#foodBar {
  background-color: aliceblue;
  width: 00%;
}

#billsBar {
  background-color: rgb(165, 30, 255);
  width: 0%;
}

#entertainmentBar {
  background-color: rgb(94, 255, 30);
  width: 0%;
}

#clothingBar {
  background-color: rgb(255, 30, 30);
  width: 0%;

}

.foodBar {
  background-color: aliceblue;
  width: 20%;
}

.billsBar {
  background-color: rgb(165, 30, 255);
  width: 20%;
}

.entertainmentBar {
  background-color: rgb(94, 255, 30);
  width: 20%;
}

.clothingBar {
  background-color: rgb(255, 30, 30);
  width: 20%;
}

article {
  height: 300px;
  overflow-y: scroll;
  width: 40%;
}

.itemized {
  color: black;
  display: flex;
  justify-content: space-between;


}

.goButton {
  padding: 10px 20px;
  border: 0;
  background: rgb(253, 254, 233);
  font-weight: bold;
  cursor: pointer;
}

article p:nth-child(odd) {
  background: beige;
}

@keyframes deficit {
  from {
    width: 0%;
  }

  to {}
}

@media (max-width: 816px) {
  .vertical-bar {
    display: none;
  }

  .banner-title {
    margin: 80px 40px;
  }

  .banner-title h1 {
    font-size: 20px;
  }

  .nav-bar {
    padding: 10px 30px;
  }

  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links {
    height: 100vh;
    width: 200px;
    background: rgb(81, 91, 81);
    top: 0;
    right: 0;
    position: absolute;
    text-align: left;
    z-index: 2;
  }

  .nav-links ul a {
    display: block;
  }

  .nav-links .btn {
    float: none;
    margin-left: 25px;
    margin-top: 10px;
  }

  .turnoff {
    display: inherit;
  }

  .fa,
  .fas {
    font-weight: 900;
    font-size: xx-large;
    position: static;
    color: rgb(203, 203, 203);
  }

  .fa-bars {
    position: absolute;
    right: 5px;
    top: 3px;
    font-weight: 900;
    color: rgb(203, 203, 203);
    z-index: 3;
  }

  .banner-title {
    margin: 10px 40px;
  }

  .banner-title h1 {
    font-size: 15px;
    margin-bottom: 30px;
    color: rgb(255, 255, 214);
  }
}