/* body {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.6),
      rgba(255, 215, 215, 0.6)),
    url(https://images.pexels.com/photos/302842/pexels-photo-302842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
} */

/* h1 {
  font-size: 54px;
  text-align: center;
  font-family: "Staatliches";
  color: #0db666;
} */

h2 {
  margin: 0px;
  color: #0db666;
}

.displayWeeklyBudget {
  background-color: rgb(216, 216, 216);
  text-align: center;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10px;
  font-family: "Staatliches";
  border: #baafad 1px solid;
}

.goButton {
  font-family: "Staatliches";
  background-color: honeydew;
}

.weeklyBudget {
  background-color: rgb(140, 224, 151);
  font-size: 19px;
  color: white;
  width: 70%;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-top: 7px;
  margin-right: auto;
  border-radius: 10px;
  padding-top: 7px;
}

.dropDownContent {
  width: 70%;
  height: 50%;
  font-size: 20px;
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Patua One", cursive;
  text-align-last: center;
}

.downContainer {
  background-color: rgb(216, 216, 216);
  text-align: center;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10px;
  font-family: "Staatliches";
  margin-top: 10px;
  border: #baafad 1px solid;
}

.Items {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50%;
  margin-top: 5px;
}

#earnings {
  position: relative;
  bottom: px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 50%;
  font-size: 13px;
  padding-left: 10px;
}

.i {
  width: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.reciept {
  background-color: rgb(216, 216, 216);
  width: 70%;
  height: 20%;
}


#graphics {
  height: 50px;
  background: #0db666;
  margin: 10px 20px;
  display: flex;
}

#foodBar {
  background-color: aliceblue;
  width: 00%;
}

#billsBar {
  background-color: rgb(165, 30, 255);
  width: 0%;
}

#entertainmentBar {
  background-color: rgb(94, 255, 30);
  width: 0%;
}

#clothingBar {
  background-color: rgb(255, 30, 30);
  width: 0%;
  animation: deficit 2s forwards;
}

.foodBar {
  background-color: aliceblue;
  width: 20%;
}

.billsBar {
  background-color: rgb(165, 30, 255);
  width: 20%;
}

.entertainmentBar {
  background-color: rgb(94, 255, 30);
  width: 20%;
}

.clothingBar {
  background-color: rgb(255, 30, 30);
  width: 20%;
}

@keyframes deficit {
  from {
    width: 0%;
  }

  to {}
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(https://images.pexels.com/photos/302842/pexels-photo-302842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.6),
        rgba(255, 215, 215, 0.6)),
      url(https://images.pexels.com/photos/302842/pexels-photo-302842.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
  }

  h1 {
    font-size: 39px;
    text-align: center;
    font-family: "Staatliches";
  }

  .displayWeeklyBudget {
    text-align: center;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: #baafad 1px solid;
  }

  .weeklyBudget {
    background-color: rgb(140, 224, 151);
    width: 100%;
    /* height: 50px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }

  .goButton {
    font-family: "Staatliches";
  }

  .dropDownContent {
    width: 200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .downContainer {
    padding: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.133)),
    url(BackgroundPic.png);

  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.nav-bar {
  display: flex;
  padding: 20px 80px;
}

.nav-logo img {
  height: 140px;
  width: 160px;
}

.nav-links {
  flex: 1;
  align-self: center;
}

.nav-links ul {
  margin-left: 50px;
  display: inline;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(253, 254, 233);
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgba(255, 117, 246, 0.426);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: 0;
  background: rgb(253, 254, 233);
  font-weight: bold;
  cursor: pointer;
}

.nav-links .btn {
  float: right;
}

.banner-title {
  margin: 10px 130px;
  color: #fff;
}

.banner-title h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(255, 255, 214);
}

.banner-title h1 span {
  color: rgb(202, 255, 196);
}

.vertical-bar {
  height: 100%;
  background: rgb(81, 91, 81);
  top: 0;
  left: 0;
  position: absolute;
}

.search-icon {
  height: 150px;
  width: 80px;
}

.search-icon i {
  margin: 45px 23px;
  display: block;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  color: rgb(203, 203, 203);
}

.social-icons {
  height: 35%;
  width: 80px;
  background: rgb(253, 254, 233);
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
  color: #888;
}

.social-icons i {
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid rgb(81, 91, 81);
  border-radius: 50%;
  cursor: pointer;
}

.jumbotron {
  display: flex;
  height: 300px;
  background: #fff;
  z-index: 2;
  padding: 10px 20px;
  width: 835px;
}

.form-holder {
  height: 270px;
  background: orange;
  width: 35%;
  margin: 14px 10px;
}

.budget-container {
  height: 90px;
  background: rgb(123, 28, 28);
  margin: 10px 10px;
  padding: 10px 10px;
  padding-top: 20px;
}

.turnoff {
  display: none;
}

@media (max-width: 816px) {
  .vertical-bar {
    display: none;
  }

  .banner-title {
    margin: 80px 40px;
  }

  .banner-title h1 {
    font-size: 20px;
  }

  .nav-bar {
    padding: 10px 30px;
  }

  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  .nav-bar .fa {
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links {
    height: 100vh;
    width: 200px;
    background: rgb(81, 91, 81);
    top: 0;
    right: 0;
    position: absolute;
    text-align: left;
    z-index: 2;
  }

  .nav-links ul a {
    display: block;
  }

  .nav-links .btn {
    float: none;
    margin-left: 25px;
    margin-top: 10px;
  }

  .turnoff {
    display: inherit;
  }

  .fa,
  .fas {
    font-weight: 900;
    font-size: xx-large;
    position: static;
    color: rgb(203, 203, 203);
  }

  .fa-bars {
    position: absolute;
    right: 5px;
    top: 3px;
    font-weight: 900;
    color: rgb(203, 203, 203);
    z-index: 3;
  }

  .banner-title {
    margin: 10px 40px;
  }

  .banner-title h1 {
    font-size: 15px;
    margin-bottom: 30px;
    color: rgb(255, 255, 214);
  }
}